<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <fontSize>16</fontSize>
  <leftPadding>4</leftPadding>
  <spacingBetweenLines>0</spacingBetweenLines>
  <tabSize>4</tabSize>
  <font>Inconsolata-Medium.ttf</font>
  <textColor>
    <r>200</r>
    <g>200</g>
    <b>200</b>
    <a>255</a>
  </textColor>
  <backgroundColor>
    <r>31</r>
    <g>31</g>
    <b>31</b>
    <a>50</a>
  </backgroundColor>
  <cursorColor>
    <r>150</r>
    <g>150</g>
    <b>150</b>
    <a>255</a>
  </cursorColor>
</Config>