<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <fontSize>19</fontSize>
  <leftPadding>4</leftPadding>
  <spacingBetweenLines>0</spacingBetweenLines>
  <tabSize>3</tabSize>
  <fontName>Inconsolata-Medium.ttf</fontName>
  <textColor>
    <r>220</r>
    <g>220</g>
    <b>220</b>
    <a>255</a>
  </textColor>
  <backgroundColor>
    <r>31</r>
    <g>31</g>
    <b>31</b>
    <a>50</a>
  </backgroundColor>
  <cursorColor>
    <r>227</r>
    <g>227</g>
    <b>227</b>
    <a>255</a>
  </cursorColor>
  <backgroundImage>482950.png</backgroundImage>
  <backgroundLucidity>0.33</backgroundLucidity>
</Config>
